.teamCards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.headshotImg {
	border-radius: 50%;
	max-width: 150px;
	padding: 10px;
}
.aboutUs {
	text-align: left;
	padding: 0% 15% 1% 15%;
}
.linkedIn {
	padding: 0px;
}
h4 {
	font-weight: bold;
	margin: 5px;
}
.teamTitle {
	padding: 0px;
	margin: 5px;
}
.aboutTitle {
	margin: 5px;
	padding: 10px;
}

.subtext {
	font-style: italic;
	font-weight: bold;
	font-size: larger;
	margin-top: 5px;
	margin-bottom: 6%;
	color: #a70741;
}
