.userSequence {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 20px;
    align-items: center;
    margin: 10px;
    background:rgb(255, 224, 229);
}

.sequenceContainer {
    display: grid;
    margin: 25px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
}

.editBtn {
    background-color: rgb(255, 239, 242);
    border-radius: 5px;
	padding: 4px 5px;
    font-size: 16px;
    width: 50px;
    margin-top: 5%;
    cursor: pointer;
}
.sequenceName :hover{
    text-decoration: underline;
}
.sequenceName {
    padding: 20px 10px 5px 10px;
}
.collapsibleHeader {
    font-style: italic;
    padding: 5px 0px 10px 0px;
    cursor: pointer;
}
.poseListEdit {
	margin: 0px 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.userSequence {
	padding-bottom: 1em;
}
.poseListNames {
	text-align: left;
    padding: 5px;
}
.deletePoseBtn {
    border: none;
    background: transparent;
    margin-left: 5px;
}
