
.title {
	font-size: 4.5em;
	font-weight: normal;
	display: flex;
	justify-content: center;
	padding-top: 20px;
	margin-bottom: 10px;
	color: #383838;
}

.homeNav {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 5px;
	margin-top: 5%;
}

li {
	list-style: none;
	font-size: 1.6em;
	padding: 4%;
}

a {
	text-decoration: none;
	color: black;
}
body {
	background: url(../../Assets/FlowersOpacity65.png) repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;	
}

.homeGirl {
	width: 20%;
}