.header-box {
	width: 100vw;
	height: 10vh;
	display: flex;
	/* justify-self: flex-end; */
	justify-content: flex-start;
	/* align-self: flex-end; */
	position: relative;
	border: 1px solid black;
}

.header-text {
	font-size: 28px;

	color: #383838;
	word-wrap: none;
}

.yogo-logo {
	height: 60px;

	margin-top: 1.8vh;
}
