.cardContainer {
	border: 2px solid black;
	border-radius: 25px;
	padding: 8px;
	margin: 8%;
}

.container {
	display: flex;
	/* padding: 15% */
	/* margin: 5% 5%; */
}

p {
	margin: 0px;
}

.english {
	font-size: xx-large;
	font-weight: bolder;
	color: #a70741;
	background-color: #f5eeea;
	justify-items: center;
	margin: 0px;
}

.img {
	display: flex;
	align-items: right;
	/* object-fit: contain; */
	object-fit: cover;
	justify-content: flex-end;
	max-width: 100%;
	height: auto;

	/* max-height: auto; */
}

.details {
	font-size: large;
	font-weight: bold;
	/* color: #a70741; */
	background-color: #f39bbb;
	/* flex-shrink: 2; */
	justify-items: flex-start;
	border-radius: 10px;
	padding: 4%;
}

.description {
	font-size: 14px;
	text-align: left;
}

.catName {
	font-weight: bold;
}

.catdescription {
	font-size: 14px;
	text-align: left;
}
.level {
	color: #a70741;
}

.sans {
	font-size: x-large;
	font-weight: bold;
	background-color: #a70741;
	margin: 0px;
	color: #fa90b7;
}

.sName {
	color: #ecd4dd;
	font-style: italic;
	font-weight: bolder;
	background-color: #a70741;
}
