* {
	font-family: 'Comfortaa', serif;
	text-align: center;
	font-weight: normal;
	/* border: 1px solid black; */
}

a {
	display: block;
	text-decoration: none;
	color: #3c3c3c;
	text-transform: uppercase;
	font-weight: bold;
	font-size: large;
	padding-top: 10px;
}

h1 {
	display: flex;
	justify-content: center;
	padding: 15px;
}
.whiteBk{
	background: rgba(255, 255, 255, 0.701);
	padding-top: 0px;
	padding-bottom: 1em;
}

.sequenceNavImg {
	height: 75px;
	width: 75px;
	border-radius: 10vh;
}

.sequenceNavGrid {
	position: absolute;
	margin-left: 1%;
	width: 25%;
}

.saveSequence {
	background-color: rgb(255, 233, 237);
	border-radius: 5px;
	padding: 4px 5px;
	margin-top: 15px;
	width: 85%;
	word-wrap: normal;
	max-width: 140px;
}

.addBtn {
	color: (85, 85, 85);
}
.addPoseBtn :hover {
	color: rgb(255, 96, 123);
	cursor: pointer;
}
.addPoseBtn {
	border: none;
	padding: 0px;
	margin: 0px;
}
.poseName {
	margin: 0px;
	flex-wrap: wrap;
	align-self: center;
}

.pageTitle {
	padding-top: 6%;
	margin: 0px;
}